body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 28px;
  }
  
  #start-container,
  #game-over-container,
  #high-scores-container {
    display: none;
    text-align: center;
    margin-bottom: 30px;
  }
  
  #question {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  #score-form {
    margin-top: 20px;
  }
  
  #initials {
    width: 50px;
  }
  
  #high-scores-container {
    font-size: 18px;
  }
  
  #high-scores-list {
    margin-top: 10px;
  }
  